@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-light: #60A5FA;
  --color-primary-dark: #1E40AF;

  --color-secondary: #64748B;

  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}